
body, h2 {
    padding : 0;
    margin : 0;
}

body{
    height : 100vh;
    background-image : url("./src/assets/cool-background.png");
    background-repeat : no-repeat;
    background-size : 100% 100%;
    display : flex;
    flex-direction : column;
    align-items : center;
}

body section {
    display : flex;
    flex-direction : column;
    flex : 1;
}

button {
    border : 0px;
    background-color : #fc456b;
    color : #ffffff;
    border : 0px;
    border-radius : 0.2em;
}

.navbar-wrapper {
    width : 40em;
    display : flex;
    flex-direction : row;
    align-items : center;
    flex : 0.2;
    background-color : #000000;
}

.navbar-wrapper .title {
    color : #ffffff;
}

.navbar {
    flex : 1;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.navbar ul {
    padding : 0;
    display : flex;
    flex-direction : row;
    gap : 1em;
}

.navbar ul li{
    list-style : none;
}

.navbar ul li button {
    padding : 1em;
}

.modal-wrapper {
    position : absolute;
    height : 100vh;
    display : none;
}
.modal-wrapper.active {
    display : flex;
    flex-direction : column;
    justify-content : center;
}

.modal-inner {
    background-color : #ffffff;
    width : 20em;
    height : 10em;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
    gap : 0.8em;
    border-radius : 0.5em;
    padding : 1em;
}
.modal-header, .modal-footer {
    width : 100%;
    display : flex;
    justify-content : flex-end;
}
.modal-main {
    flex : 1;
    width : 100%;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    gap : 0.8em;
}
.modal-main .title,
.modal-main .content {
    flex : 1;
    width : 100%;
    display : flex;
    flex-direction : column;
}

.modal-main input {
    flex : 1;
    margin : 0;
    padding : 0;
    border : 0px soli #ffffff;
}

.main-wrapper {
    width : 40em;
    display : flex;
    flex-direction : column;
    align-items : center;
    flex : 1;
    background-color : rgba(255, 255, 255, 0.4);
    position : block;
}

.main-container {
    position : block;
    display : flex;
    flex-direction : column;
    align-content : stretch;
    flex : 1;
    gap : 1em;
    margin : 1em 0;
}

.main-container .typeItem {
    background : #aeaeae;
    padding : 1em;
    border-radius : 0.5em;
}